/* UTILIZANDO A DIRECTIVA @IMPORT() */
@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./rodape.css");
@import url("./break-point-630px.css");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
    font-size: 62.7%;
}

.tit-sec{
    text-align: center;
    font-size: 5rem;
}

/* TABELA */ 
table{
  border-collapse: collapse;
  margin: 5% auto;
}
td,th{
  border:1px solid #e48c8c; 
  padding: 8px;
}
tr:nth-child(even){
  background-color: #ffcbcb;
}
tr:nth-child(odd){
  background-color: pink;
}
tr:hover{
  background-color: plum;
}
td[colspan]{
  text-align: center;
}
/* vw = View Width
vh = View height 
    
*/