/* UTILIZANDO A DIRECTIVA @IMPORT() */
@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./rodape.css");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
    font-size: 62.7%;
}

.tit-sec{
    text-align: center;
    font-size: 5rem;
}
.rodape{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.rodape nav{
  display: flex;
}
.rodape nav img{
  max-width: 10%;
  display:block; 
}
/* vw = View Width
vh = View height 
    
*/